@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{ width: 100%;
    top: 0;
    left: 0;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    height: 60px;
    color: aqua;
   padding-top: 10px;
}
nav .bx{ 
cursor: pointer;
font-size: 35px;
padding-top: 8px;
margin-left: 1100px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.title{
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding-top: 20px;
}
.prix{
    display: flex;
    justify-content: space-around;

    width: 100%;
}
img{
    width: 100%;

    }
.img_size{
    width: 200px;
    padding-inline: 100px;
    padding-top: 100px;

}
.dispo{
    
    display: flex;
    padding-inline: 100px;
    flex-wrap: wrap;

}
#icon2{
    font-size: 30px;
    color: aqua;
    border: blue solid 1px;
    border-radius: 2px;
    background-color: blue;
    cursor: pointer;
}
footer{
    background-color: blue;
    height: 100px;
    margin-top: 70px;
    padding-top: 50px;
}
.message{
    text-align: center;
    color: aqua;
}
span{
    color: blue;
}
.prix span{
    color: black;
}